@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HOŞ GELDİNİZ</h1>
    <p>Mersus Deneme E-Ticaret Sitesi</p>
    <p>Saygılarımla</p>
    <h1>Elif ACAR</h1>
</div>
